<div
  fxLayout="column"
  fxLayoutAlign="space-around start"
  fxFlexOffset="3"
  fxLayoutGap="30px"
>
  <h2>Dropdown menu</h2>
  <section>
      <div style="text-align: center;">
    <button [matMenuTriggerFor]="positionMenu" mat-raised-button>
      開啟訊息設定，這是一條比較長的按鈕，好確認Menu的生長方向
    </button>
    <mat-menu
      #positionMenu="matMenu"
      [overlapTrigger]="false"
      xPosition="after"
      yPosition="below"
    >
      <button mat-menu-item [matMenuTriggerFor]="subMenu1">Message 1</button>
      <button mat-menu-item [matMenuTriggerFor]="subMenu2">Message 2</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Message 3</button>
    </mat-menu>
    <mat-menu #subMenu1="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        訊息 1-1
      </button>
      <button mat-menu-item>
        <mat-icon>favorite</mat-icon>
        訊息 1-2
      </button>
      <button mat-menu-item>
        <mat-icon>thumb_up</mat-icon>
        訊息 1-3
      </button>
    </mat-menu>
    <mat-menu #subMenu2="matMenu">
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        訊息 1-1
      </button>
      <button mat-menu-item disabled>
        <mat-icon>settings</mat-icon>
        訊息 1-2
      </button>
    </mat-menu>
  </div>
  </section>
  <h2>Ripple</h2>
  <div>
    <mat-checkbox [(ngModel)]="centered" class="example-ripple-checkbox"
      >Centered</mat-checkbox
    >
    <mat-checkbox [(ngModel)]="disabled" class="example-ripple-checkbox"
      >Disabled</mat-checkbox
    >
    <mat-checkbox [(ngModel)]="unbounded" class="example-ripple-checkbox"
      >Unbounded</mat-checkbox
    >

    <mat-form-field class="example-ripple-form-field">
      <input matInput [(ngModel)]="radius" type="number" placeholder="Radius" />
    </mat-form-field>
    <mat-form-field class="example-ripple-form-field">
      <input matInput [(ngModel)]="color" type="text" placeholder="Color" />
    </mat-form-field>
  </div>

  <div
    class="example-ripple-container mat-elevation-z4"
    matRipple
    [matRippleCentered]="centered"
    [matRippleDisabled]="disabled"
    [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius"
    [matRippleColor]="color"
  >
    Click me
  </div>

  <!-- no ts needed for 3. Menu positioning -->
  <h2>Menu positioning</h2>
  <div>
    <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>

  <h2>Basic mat-select with initial value</h2>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Food</mat-label>
    <mat-select [(value)]="selectedFood">
      <mat-option></mat-option>
      <mat-option [value]="option.value" *ngFor="let option of foods">
        {{ option.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>You selected: {{ selectedFood }}</p>

  <h2>Form field with error messages</h2>

  <div class="example-container5">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        required
      />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>

  <h2>Dialog</h2>

  <ol>
    <li>
      <mat-form-field>
        <mat-label>What's your Project Name?</mat-label>
        <input matInput [(ngModel)]="name" />
      </mat-form-field>
    </li>
    <li>
      <button mat-mat-raised-button (click)="openDialog()">
        Tell us more on your project in details..
      </button>
    </li>
    <li *ngIf="project">
      The project description: <i> {{ project }}</i>
    </li>
  </ol>

  <h2>Chips</h2>
  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="animal selection">
      <mat-chip
        *ngFor="let item of animal"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(item)"
      >
        {{ item.name }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New Label..."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
  </mat-form-field>

  <h2>Tooltip</h2>
  <button
    mat-raised-button
    matTooltip="here we are"
    aria-label="Button the display a tooltip when focused or hovered"
  >
    Action
  </button>

  <h2>Badge</h2>
  <p>
    Button with a badge on the left
    <button
      mat-raised-button
      color="primary"
      matBadge="2"
      matBadgePosition="before"
      matBadgeColor="accent"
    >
      Action
    </button>
  </p>

  <h2>Card</h2>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>

    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />

    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
