.content-wrapper {
  width: 100%;
  border: 1px solid #000;
}

button {
  margin-bottom: 5px;
}

.portal-demo {
  width: 100%;
  margin: 5px;
  margin-bottom: 50px;
}

.portal-demo .tabs {
  border-bottom: 1px solid black;
}
