<div class="left-padding">
  <section>

    <h2>custom style</h2>
    <p class="custom-mat-100">red 100</p>
    <h2>demo Observe cdk</h2>
    <app-cdk-observe-content-demo>
      {{ displayContent }}
    </app-cdk-observe-content-demo>

    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="displayContent = displayContent + 1"
      >
        add 1
      </button>
    </div>

  </section>
  <section>
    <h2>Button</h2>

    <button mat-button>flatButton</button>
    <button mat-button color="warn">flatButton</button>
    <button mat-button color="primary">flatButton</button>
    <button mat-button disabled>flatButton</button>
    <!-- put in a is okay -->
    <a mat-button>button in a Tag </a>
    <br />
    <button mat-raised-button>raised button</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-button>Link</a>
    <br />
    <br />
    <button mat-raised-button color="primary">
      <mat-icon>thumb_up</mat-icon>Good!
    </button>
    <br />
    <br />
    <button mat-raised-button color="primary">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <br />
    <br />
    use mat-icon-button if you only want to show icon in button
    <button mat-icon-button color="primary">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-icon-button mat-raised-button color="primary">
      <mat-icon>thumb_up</mat-icon>
    </button>

    <br />
    <br />
    floating action button
    <button mat-fab>
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-fab color="primary">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-fab color="accent">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-fab color="warn">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-fab disabled>
      <mat-icon>thumb_up</mat-icon>
    </button>
    <br /><br />
    mat-mini-fab
    <button mat-mini-fab>
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-mini-fab color="primary">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-mini-fab color="accent">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-mini-fab color="warn">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-mini-fab disabled>
      <mat-icon>thumb_up</mat-icon>
    </button>

    <h2>Icon</h2>

    <h3>Icon from material icon</h3>
    <span class="material-icons md-36">
      commute
    </span>

    <span class="material-icons md-48">
      model_training
    </span>

    <i class="material-icons orange600">face</i>

    <h3>Play with color</h3>
    <div>
      這是一般的ICON顏色
      <mat-icon>person</mat-icon>
    </div>

    <div>
      這是加上primary顏色的ICON
      <mat-icon color="primary">thumb_up</mat-icon>
    </div>

    <div>
      這是加上accent顏色的ICON
      <mat-icon color="accent">info</mat-icon>
    </div>

    <div>
      這是加上warn顏色的ICON
      <mat-icon color="warn">warning</mat-icon>
    </div>

    <h3>Custom SVG icon via MatIconRegistry and DomSanitizer</h3>

    <div>
      <mat-icon svgIcon="custom-svg:universal" color="accent"></mat-icon>
    </div>

    <h3>Use FontAwesome in MatIcon via registerFontClassAlias</h3>

    <div>
      <!-- 就是<i class="fa fa-thumbs-up">的概念 -->
      <mat-icon fontSet="font-awesome" fontIcon="fa-thumbs-up"></mat-icon>
      <mat-icon
        fontSet="font-awesome"
        fontIcon="fa-thumbs-up"
        color="primary"
      ></mat-icon>
      <mat-icon
        fontSet="font-awesome"
        fontIcon="fa-thumbs-up"
        color="accent"
      ></mat-icon>
      <mat-icon
        fontSet="font-awesome"
        fontIcon="fa-thumbs-up"
        color="warn"
        class="fa-spin"
      ></mat-icon>
    </div>
  </section>
</div>
